body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 70% 10%;
}


.card{
    grid-row-start: 2 ;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffae03;
}
.header img {
    width: 30px;
    margin-right: 10px;
}

.header h1{
    font-weight: normal;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body img {
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.body h1{
    font-size: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
    color :#af7906;
    padding: 1em 2em;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(233, 230, 230);
    transition: all 0.6s ease;
}
button:hover{
    padding: 0.8em 1.8em;
    border: 1px solid #af7906;
    box-shadow: 0px 0px 20px rgb(233, 230, 230);
}
